
// Sansation
@font-face {
    font-family: "Sansation";
    src: url("../public/fonts/sansation/Sansation-Bold.ttf");
    font-display: swap;
}

// DM Sans
@font-face {
    font-family: "DM Sans";
    src: url("../public/fonts/DM Sans/DMSans-Regular.ttf");
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: "DM Sans";
    src: url("../public/fonts/DM Sans/DMSans-Medium.ttf");
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: "DM Sans";
    src: url("../public/fonts/DM Sans/DMSans-Bold.ttf");
    font-display: swap;
    font-weight: 700;
}

// Nunito
@font-face {
    font-family: "Nunito";
    src: url("../public/fonts/Nunito/Nunito-Regular.ttf");
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: "Nunito";
    src: url("../public/fonts/Nunito/Nunito-Light.ttf");
    font-display: swap;
    font-weight: 300;
}
@font-face {
    font-family: "Nunito";
    src: url("../public/fonts/Nunito/Nunito-ExtraLight.ttf");
    font-display: swap;
    font-weight: 200;
}
@font-face {
    font-family: "Nunito";
    src: url("../public/fonts/Nunito/Nunito-Bold.ttf");
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: "Nunito";
    src: url("../public/fonts/Nunito/Nunito-SemiBold.ttf");
    font-display: swap;
    font-weight: 600;
}

// Public Sans
@font-face {
    font-family: "Public Sans";
    src: url("../public/fonts/Public Sans/PublicSans-Regular.ttf");
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: "Public Sans";
    src: url("../public/fonts/Public Sans/PublicSans-ExtraLight.ttf");
    font-display: swap;
    font-weight: 200;
}
@font-face {
    font-family: "Public Sans";
    src: url("../public/fonts/Public Sans/PublicSans-Light.ttf");
    font-display: swap;
    font-weight: 300;
}
@font-face {
    font-family: "Public Sans";
    src: url("../public/fonts/Public Sans/PublicSans-Medium.ttf");
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: "Public Sans";
    src: url("../public/fonts/Public Sans/PublicSans-SemiBold.ttf");
    font-display: swap;
    font-weight: 600;
}
@font-face {
    font-family: "Public Sans";
    src: url("../public/fonts/Public Sans/PublicSans-Bold.ttf");
    font-display: swap;
    font-weight: 700;
}
