
//Color

$white: #fff;
$blue: #1D4A92;
$orange: #FF6B00;
$orange-light: #faa467;
$yellow: #F5AE1D;
$gray: #424954;

//Fonts

$dm-sans: 'DM Sans';
$nunito: 'Nunito';
$sansation: 'Sansation';
$public-sans: 'Public Sans';

//Weights

$extra_light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$black: 900;

