@import "general";
@import "var";
@import "breakpoints";
@import "fonts";

// Global styling
// Have to be here because, dynamically added classes, can't coexist with module classes, since they have added a prefix. 
.a-mainSectionLayout {
    @include mobile {
        height: 500px !important;
    }
}

.b-AboutSectionLayout {
    @include laptop-sm {
        height: 642px !important;
    }
    @include tablet {
        height: 1250px !important;
    }
    @include mobile {
        height: 1138px !important;
    }
}

.c-OurServicesSectionLayout {
    @include laptop-lg {
        height: 1260px !important;
    }
    @include tablet {
        height: 1326px !important;
    }
    @include tablet-sm {
        height: 591px !important;
    }
}

.d-WhyChooseUsSectionLayout {
    @include laptop-sm {
        height: 698px !important;
    }
    @include tablet {
        height: 906px !important;
    }
    @include tablet-sm {
        height: 876px !important;
    }
    @include mobile {
        height: 790px !important;
    }
}

.e-SpecializedInSectionLayout {
    margin-top: 300px;
    @include laptop-lg {
        height: 856.3px !important;
    }
    @include laptop-sm {
        margin-top: 280px;
        height: 428px !important;
    }
    @include tablet {
        margin-top: 146px;
        height: 1012px!important;
    }
    @include tablet-sm {
        height: 905px !important;
    }
    @include mobile {
        height: 760px !important;
    }
    @include mobile-sm {
        height: 850px !important;
    }
}

.f-TeamMembers {
    margin-top: 184px;
    @include tablet {
        height:600px  !important ;
        margin-top: 0px !important; 
    }
    @include mobile {
        height: 555px !important;
    }
}


// InfoBlock sections overrides

.infoBlock-paragraphs_WhyChooseUs {
    @include tablet {
        margin-right: 163px;
    }
    @include tablet-sm {
        margin-right: 287px;
    }
    @include mobile {
        margin-right: 221px;
    }
}

.infoBlock-container_SpecializedIn {
    margin-left: 45px;
    @include laptop-lg {
        width: 342px !important;
    }
    @include tablet {
        width: 98% !important;
    }
    @include tablet-sm {
        width: 77% !important;
    }
}

.infoBlock-container_teamMembers {
    height: 93px !important;
}

.slick-dots {
    bottom:18px !important;
    @include laptop-sm {
        bottom:0px !important;
    }
}

.slick-slide {
    @include tablet-sm {
        display: flex !important;
        justify-content: center !important;
    }
}
