@import '../../sass/var';
@import '../../sass/breakpoints';

.container {
    height: 272px;
    width: 515px;
    margin-bottom: 5em;
    @include laptop-sm {
        margin-bottom: 3em;
    }
}

.center {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.subtitle {
    display: flex;
    align-items: center;
    img {
        width: 68px;
        height: 10px;
    }
    h3 {
        margin-left: 1em;
        font-family: $sansation;
        color: $orange;
        text-transform: uppercase;
        @include laptop-sm {
            font-size: 0.9rem;
        }
    }
}

.title {
    margin: 1em 0px 1.5em 0px;
    font-family: $sansation;
    color: $blue;
    font-size: 2rem;
    text-transform: uppercase;
    @include laptop-lg{
        font-size: 1.5rem;
        max-width: 400px
    }
    @include laptop-sm {
        font-size: 1.3rem;
        max-width: 308px;
    }
    @include tablet {
        font-size: 1.7rem;
        max-width: 488px;
    }
    @include mobile {
        font-size: 1.3rem;
        max-width: 308px;
    }
}

.paragraphWrapper{
    p {
        margin-bottom: 2em;
        color: $gray;
        font-family: $public-sans;
        font-weight: $medium;
        font-size: 0.9rem;
        @include laptop-lg {
            max-width: 350px;
        }
        @include laptop-sm {
            font-size: 0.8rem;
            max-width: 264px;
        }
        @include tablet {
            max-width: 475px;
        }
        @include tablet-sm {
            max-width: 382px;
        }
        @include mobile {
            max-width: 319px;
        }
        @include mobile-sm {
            max-width: 295px;
        }
    }


}