@import '../../sass/var';

.container {
    height: 272px;
    width: 515px;
    margin-bottom: 5em;
}

.subtitle {
    display: flex;
    align-items: center;
    img {
        width: 68px;
        height: 10px;
    }
    h3 {
        margin-left: 1em;
        font-family: $sansation;
        color: $orange;
        text-transform: uppercase;
    }
}

.title {
    margin: 1em 0px 1.5em 0px;
    font-family: $sansation;
    color: $blue;
    font-size: 2rem;
    text-transform: uppercase;
}

.paragraph {
    margin-bottom: 2em;
    color: $gray;
    font-family: $public-sans;
    font-size: 0.9rem;
}