.container {
    height: 272px;
    width: 515px;
}

.subtitle {
    display: flex;
    align-items: center;
    img {
        width: 68px;
        height: 10px;
    }
    h3 {
        margin-left: 1em;
    }
}