@import '../../sass/breakpoints';
@import '../../sass/var';

.container {
    width: 356px;
    height: 305px;
    box-shadow:4px 7px 18px $gray;
    border-radius: 10px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    @include laptop-sm{
        width: 308px;
    }
    @include tablet {
        width: 234px;
        height: 336px;
    }
    @include tablet-sm {
        width: 366px;
        height: 117px;
        flex-direction: row;
        padding-left: 12px;
        padding-bottom: 12px;
        margin-top: 10px;
    }
    &:hover {
        box-shadow: 1px 2px 8px $gray;
    }
    .iconImage {
        position: relative;
        min-width: 102px;
        min-height: 107px;
        margin-top: 1em;
        @include tablet-sm {
            min-width: 80px;
            min-height: 83.92px;
        }
    }
    .text {
        h4 {
            font-family: $sansation;
            font-size: 22px;
            font-weight: $regular;
            color: $blue;
            margin-top: 20px;
            margin-bottom: 0.5em;
            text-align: center;
            @include tablet-sm {
                font-size: 18px;
            }
        }
        p {
            font-family: $sansation;
            font-weight: $regular;
            font-size: 12px;
            color: $gray;
            text-align: center;
            margin: 1em 1.5em 1em 1.5em;
            @include tablet-sm {
                font-size: 10px;
            }
        }
    }

}