@import '../../sass/_var';
@import '../../sass/_breakpoints';

.container {
    height: 100%;
    display: grid; 
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    overflow: hidden;
    z-index: -1;
    h1 {
        text-transform: uppercase;
        font-family: $dm-sans;
        font-weight: $bold;
        font-size: 60px;
        color: $blue;
        margin-top: 67px;
        grid-column: 1 / 8;
        grid-row: 1/ 6;
        @include laptop-lg {
            font-size: 50px;
            grid-column: 1 / 11;
        }
        @include laptop-sm {
            font-size: 45px;
        }
        @include tablet {
            grid-column: 1/13;
            
        }
        @include tablet-sm {
            font-size: 41px;
        }
        @include mobile {
            font-size: 33px;
            text-align:center;
            margin: 30px 10px
        }
        @include mobile-sm {
            font-size: 28px;
        }
    }
    span {
        color: $orange;
    }
    .woman_white {
        grid-row: 1/6 ;
        max-height: 560px;
        transform: translateY(9em);
        grid-column: 7/12;
        @include laptop-lg {
            max-height: 478px;
            transform: translate(0px, 230px);
            grid-column: 6/12;
        }
        @include laptop-sm {
            max-height: 403px;
            transform: translate(-25px,297px);
            grid-column: 5/12;
        }
        @include tablet {
            max-height: 352px;
            transform: translate(-32px,348px);
        }
        @include tablet-sm {
            max-height: 314px;
            transform: translate(15px,386px);
            grid-column: 3/12;
        }
        @include mobile {
            max-height: 256px;
            transform: translate(4px,245px);
            grid-column: 1/12;
        }

    }
    .main_people {
        grid-row: 1/6;
        max-height: 827px;
        transform: translate(-108px, 5px);
        grid-column: 8/12;
        @include laptop-lg {
            max-height: 650px;
            transform: translate(-53px, 132px);
        }
        @include laptop-sm {
            max-height: 628px;
            transform: translate(-86px, 9.8em);
            grid-column: 7/12;
        }
        @include tablet {
            transform: translate(-135px, 195px);
        }
        @include tablet-sm {
            max-height: 464px;
            transform: translate(-45px, 325px);
            grid-column: 5/12;
        }
        @include mobile {
            max-height: 360px;
            transform: translate(-1px, 262px);
            grid-column: 5/12;
        }
    }
    .deco_moon {
        max-height: 602px;
        mix-blend-mode: multiply;
        grid-row: 2/6 ;
        grid-column: 6/12;
        @include laptop-lg {
            grid-column: 5/12;
        }
        @include laptop-sm {
            grid-column: 4/12;
        }
        @include tablet {
            grid-column: 2/12;
            grid-row: 3/6;
        }
        @include mobile {
            grid-column: 2/12;
            grid-row: 3/6;
            transform: rotate(46deg);
            transform: translate(-164px, 104px) rotate(6deg);
        }
        &__front {
            height: 269px;
            grid-row: 1/6;
            grid-column: 9/12;
            transform: translate(-324px, 434px) rotate(0deg);
            @include laptop-sm {
                height: 348px;
                transform: translate(-384px, 372px) rotate(332deg);
            }
            @include tablet {
                transform: translate(-380px, 436px) rotate(336deg);
            }
            @include tablet-sm {
                height: 246px;
                transform: translate(-285px, 432px) rotate(336deg);
            }
            @include mobile{
                height: 185px;
                transform: translate(-262px, 344px) rotate(355deg);
            }
        }
    }
    p {
        grid-column: 1/4;
        grid-row: 4;
        font-size: 1.25rem;
        font-family: $nunito;
        font-weight: $semibold;
        transform: translateY(-60px);
        @include laptop-lg {
            transform: translateY(-107px);
            font-size: 1.1rem;
            grid-column: 1/5;
        }
        @include laptop-sm {
            grid-column: 1/6;
        }
        @include tablet {
            grid-row: 3;
            transform: translateY(1em);
        }
        @include tablet-md {
            transform: translateY(-15px);
        }
        @include tablet-sm {
            grid-column: 1/10;
            transform: translateY(-34px);
        }
        @include mobile {
            font-size: 0.8rem;
            text-align: center;
            grid-column: 1/13;
            transform: translateY(-48px);
            margin: 54px;
        }
        @include mobile-sm {
            margin: 20px;
        }
    }
    .btnPrimary {
        z-index: 10;
        grid-column: 1/4;
        grid-row: 5;
        width: 215px;
        height: 54px;
        color: $white;
        background-color: $yellow;
        border-radius: 1em;
        font-family: $nunito;
        font-weight: $semibold;
        font-size: 1.2rem;
        border:none;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover{
            background-color: $blue;
        }
        @include tablet {
            width: 150px;
        }
        @include tablet-sm {
            width: 120px;
            transform: translateY(-3em);
        }
        @include mobile {
            margin: auto;
            height: 28px;
            font-size: 1rem;
            grid-column: 1/12;
            transform: translate(13px, -161px);
        }
    }
}
