.container {
    height: 100%;
    display: flex;
    overflow: hidden;
    z-index: -1;
    margin-bottom: 65px;
    .leftSide {
        padding-top: 50px;
        img {
            transform: translate(3px, -1px);
        }
    }
}

.rightImage {
    position: relative;
    width: 720px;
    height: 1173px;
    transform: translate(86px, -36px);
}
