
.container 
    max-width: 100vw
    height: 100%
    border: solid 5px blue

.contentBox 
    width: 90vw
    max-width: 1300px
    height: 1500px
    border: solid 2px yellow
    display: block
    margin: auto